/**** Variables ****/
$fuente: 'montserrat', sans-serif;
$fuente-tamaño: 1em;
$fuente-tamaño-small: 0.75em;

@media (max-width:768px) {
    $fuente-tamaño: 1.5em;
}

$parrafo-padding: 16px 0px;
$parrafo-line-height: 32px;

$btn-padding: 12px 24px;
$btn-border: 1px solid rgb(161, 78, 0);
$btn-font-size: 16px;
$btn-font-weight: 600;
$btn-letter-spacing: 2px;
$btn-width: 192px;

$color-naranja: #FF8500;
$color-naranja-hover: #c76700;

$linea-width: 50px;
$linea-grosor: 2px solid $color-naranja;
$linea-margin: 0px 0px 8px 0px;

$subtitulo-peso: 300;
$subtitulo-alineacion: center;
$subtitulo-tamanio: 48px;
$subtitulo-mayusculas: uppercase;


$portada-imagen: url("../images/portada-06.jpg");
$portada-texto-color: rgb(255, 255, 255);
$portada-subtitulo-peso: 400;
$portada-texto-peso: 400;

$empresa-fondo: rgb(255, 255, 255);

$servicios__imagen: url("../images/servicios-01.jpg");

$proyecto-background: rgb(224, 224, 224);